aniso8601==9.0.1
click==8.0.3
Flask==2.2.1
Flask-HTTPAuth==4.5.0
Flask-RESTful==0.3.9
itsdangerous==2.0.1
Jinja2==3.1.2
MarkupSafe==2.1.1
pytz==2021.3
six==1.16.0
Werkzeug==2.2.0
Flask-Cors==3.0.10

//ORM

//export FLASK_APP=app.py
//export FLASK_ENV=development
//export FLASK_DEBUG=1
//flask run

import logging

logging.basicConfig(level=logging.INFO, filename="programa.log", format="%(asctime)s - %(levelname)s - %(message)s")

def resultado_operacional(faturamento, custo):
    return faturamento - custo

def lucro_liquido(faturamento, custo, percentual_imposto):
    if percentual_imposto == 0:
        logging.warning("Percentual de imposto é 0, tá certo isso?")
    return (faturamento - custo) * (1 - percentual_imposto)

def lucro_por_acoes(faturamento, custo, percentual_imposto, acoes):
    if acoes == 0:
        logging.error("Ações não pode ser igual a 0")
    return lucro_liquido(faturamento, custo, percentual_imposto) / acoes

faturamento = 1000
custo = 400
percentual_imposto = 0.3
acoes = 0


resultado = resultado_operacional(faturamento, custo)
logging.info(f"Resultado: {resultado}")

lucro = lucro_liquido(faturamento, custo, percentual_imposto)
logging.info(f"Lucro: {lucro}")

lucro_acao = lucro_por_acoes(faturamento, custo, percentual_imposto, acoes)
logging.info(f"Lucro por ação: {lucro_acao}")